section.productos{

    display: flex;
    
    flex-wrap: wrap;
    
    justify-content: center;
    
    align-items: center;
    
    margin-top: 20px;
    
    text-align: center;
    
    
    
    .card{
    
    margin: 5px;
    
    min-height: 180px;
    
    min-width: 400px;
    
    max-width: 400px;
    
    height: 100%;
    
    }
    
    button{
    
    width: 100%;
    
    
    
    }
    
    p{
    
    color:blue;
    
    }
    
    }